function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 5
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
if-goto if_true0
goto if_false0
label if_true0
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto if_end0
label if_false0
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label if_end0
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
if-goto if_true1
goto if_false1
label if_true1
push this 4
push this 5
add
pop this 4
goto if_end1
label if_false1
push this 4
push this 6
add
pop this 4
push this 9
if-goto if_true2
goto if_false2
label if_true2
push this 7
if-goto if_true3
goto if_false3
label if_true3
push this 0
push constant 4
add
pop this 0
goto if_end3
label if_false3
push this 1
push constant 4
add
pop this 1
label if_end3
goto if_end2
label if_false2
push this 7
if-goto if_true4
goto if_false4
label if_true4
push this 0
push constant 4
sub
pop this 0
goto if_end4
label if_false4
push this 1
push constant 4
sub
pop this 1
label if_end4
label if_end2
label if_end1
push this 8
if-goto if_true5
goto if_false5
label if_true5
push this 7
if-goto if_true6
goto if_false6
label if_true6
push this 1
push constant 4
add
pop this 1
goto if_end6
label if_false6
push this 0
push constant 4
add
pop this 0
label if_end6
goto if_end5
label if_false5
push this 7
if-goto if_true7
goto if_false7
label if_true7
push this 1
push constant 4
sub
pop this 1
goto if_end7
label if_false7
push this 0
push constant 4
sub
pop this 0
label if_end7
label if_end5
push this 0
push this 10
gt
not
if-goto if_true8
goto if_false8
label if_true8
push constant 1
pop this 14
push this 10
pop this 0
label if_false8
push this 0
push this 11
lt
not
if-goto if_true9
goto if_false9
label if_true9
push constant 2
pop this 14
push this 11
pop this 0
label if_false9
push this 1
push this 12
gt
not
if-goto if_true10
goto if_false10
label if_true10
push constant 3
pop this 14
push this 12
pop this 1
label if_false10
push this 1
push this 13
lt
not
if-goto if_true11
goto if_false11
label if_true11
push constant 4
pop this 14
push this 13
pop this 1
label if_false11
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 6
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
if-goto if_true12
goto if_false12
label if_true12
push constant 10
pop local 4
goto if_end12
label if_false12
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
if-goto if_true13
goto if_false13
label if_true13
push constant 20
pop local 4
goto if_end13
label if_false13
push constant 5
pop local 4
label if_end13
label if_end12
push this 14
push constant 1
eq
if-goto if_true14
goto if_false14
label if_true14
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto if_end14
label if_false14
push this 14
push constant 2
eq
if-goto if_true15
goto if_false15
label if_true15
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto if_end15
label if_false15
push this 14
push constant 3
eq
if-goto if_true16
goto if_false16
label if_true16
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto if_end16
label if_false16
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label if_end16
label if_end15
label if_end14
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
